@import-normalize;

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'), url('./fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('./fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  --app-height: 100vh;
  --app-width: 100vw;
  --app-top-offset: 0;
  position: fixed;
  touch-action: manipulation;
}

body {
  margin: 0;
  height: var(--app-height);
  width: var(--app-width);
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  pointer-events: none;
  overscroll-behavior-y: contain
}

#app {
  height: 100%;
  margin-top: var(--app-top-offset);
  overflow: hidden;
  touch-action: manipulation;
}

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  outline: none !important;
  pointer-events: all;
  user-select: none !important;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

button:hover {
  -webkit-appearance: none !important;
}

@keyframes cursorBlink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #FB772F;
  }
}

@media screen and (orientation: landscape) {
  html {
    --app-height: 600px !important;
    position: static;
  }
}
